/* stackPane */
.section-pane {
    -fx-background-color: -karten-off-white;
    -fx-background-radius: 20;

    -fx-padding: 20;

    -fx-effect: dropshadow(three-pass-box, -karten-blue-shadow, 0, 0, 8, 8);
}

/* splitPane */
.back-pane {
    -fx-background-color: -karten-blue;
}

.split-pane > .split-pane-divider {
    -fx-background-color: transparent;
}

/* vBox */
.div {
    -fx-background-color: -karten-blue;
    -fx-background-radius: 20;

    -fx-padding: 20;

    -fx-effect: dropshadow(three-pass-box, -karten-blue-shadow, 0, 0, 6, 6);
}