/* specialized containers */
.section-pane {
    -fx-background-color: -karten-off-white;
    -fx-background-radius: 20;

    -fx-padding: 20;

    -fx-effect: dropshadow(three-pass-box, -karten-blue-shadow, 0, 0, 8, 8);
}

.card-view {
    -fx-background-color: -karten-off-white;
    -fx-background-radius: 20;

    -fx-padding: 20;

    -fx-effect: dropshadow(three-pass-box, -karten-blue-shadow, 0, 0, 6, 6);
}

.card-preview {
    -fx-background-color: -karten-pure-white;
    -fx-background-radius: 20;

    -fx-padding: 20;

    -fx-effect: dropshadow(three-pass-box, -karten-off-white, 0, 0, 6, 6);
}

/* containers */
.div {
    -fx-background-color: -karten-blue;
    -fx-background-radius: 20;

    -fx-padding: 20;

    -fx-effect: dropshadow(three-pass-box, -karten-blue-shadow, 0, 0, 6, 6);
}

.div-special {
    -fx-background-color: -karten-purple;
    -fx-background-radius: 20;

    -fx-padding: 20;

    -fx-effect: dropshadow(three-pass-box, -karten-purple-shadow, 0, 0, 6, 6);
}

/* background */
.back-pane {
    -fx-background-color: -karten-blue;
}

/* defaults */
.split-pane > .split-pane-divider {
    -fx-background-color: transparent;
}